.gridWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

#label {
  position: relative;
  left: 10px;
  line-height: 18px;
  font-size: 10px;
  color: white;
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #00b300;
}

#myBar.progressdisable {
  background-color: #df2222;
}

#myProgress {
  position: relative;
  height: 18px;
  text-align: left;
  background-color: #c9c9c9;
}

.highcontrast .e-grid #myProgress {
  background-color: black;
}

.priority.high {
  background-color: #ffd7cc;
}

.priority.normal {
  background-color: #ccffcc;
}

.priorityText {
  top: 12px;
  position: relative;
}

.priorityText.normal {
  color: #00cc00;
}

.priorityText.high {
  color: #e60000;
}

.priority {
  position: relative;
  height: 24px;
  border-radius: 5px;
  text-align: center;
  width: 60px;
}

.e-sort::before {
  content: '\e612';
}

.e-freeze::before {
  content: '\e21e';
}

.e-filter::before {
  content: '\e251';
}

.e-select-all::before {
  content: '\e611';
}

.e-collapse-all::before {
  content: '\e554';
}

.e-cut-record::before {
  content: '\e604';
}

.e-copy-record::before {
  content: '\e33d';
}

.e-paste-record::before {
  content: '\e355';
}

.e-row.e-altrow td {
  background-color: #f9f9f9;
}

.e-grid td.e-active,
.e-grid.e-altrow td.e-active {
  background: #e4ecff;
}
