.gridWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

#label {
  position: relative;
  left: 10px;
  line-height: 18px;
  font-size: 10px;
  color: white;
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #00b300;
}

#myBar.progressdisable {
  background-color: #df2222;
}

#myProgress {
  position: relative;
  height: 18px;
  text-align: left;
  background-color: #c9c9c9;
}

.highcontrast .e-grid #myProgress {
  background-color: black;
}
