<div class="gridWrapper">
  <ejs-treegrid
    #treegrid
    height="100%"
    width="100%"
    childMapping="subtasks"
    [dataSource]="data"
    [treeColumnIndex]="1"
    [allowResizing]="true"
    [allowReordering]="true"
    [showColumnMenu]="true"
    [allowFiltering]="true"
    [filterSettings]="filterSettings"
    [allowSorting]="true"
    [allowMultiSorting]="true"
    [sortSettings]="sortSettings"
    [editSettings]="editSettings"
    [toolbar]="toolbarOptions"
    [contextMenuItems]="contextMenuItems"
    [selectionSettings]="selectionOptions"
    [enableVirtualization]="true"
    (queryCellInfo)="customizeCell($event)"
  >
    <e-columns>
      <e-column
        field="taskID"
        headerText="Task ID"
        width="150"
        isPrimaryKey="true"
        [validationRules]="taskidRule"
        hideAtMedia="(min-width: 700px)"
      ></e-column>
      <e-column
        field="taskName"
        headerText="Task Name"
        width="400"
        clipMode="EllipsisWithTooltip"
        editType="stringedit"
        [validationRules]="stringRule"
      ></e-column>
      <e-column
        field="priority"
        headerText="Priority"
        editType="dropdownedit"
        [validationRules]="stringRule"
      ></e-column>
      <e-column
        field="startDate"
        headerText="Start Date"
        [format]="dateFormatOptions"
        editType="datepickeredit"
        [validationRules]="dateRule"
      ></e-column>
      <e-column
        field="endDate"
        headerText="End Date"
        [format]="dateFormatOptions"
        editType="datepickeredit"
        [validationRules]="dateRule"
      ></e-column>
      <e-column
        field="duration"
        headerText="Duration"
        textAlign="Center"
        editType="numericedit"
        [edit]="editing"
        [validationRules]="numberRule"
      ></e-column>
      <e-column
        field="progress"
        headerText="Progress"
        textAlign="Center"
        editType="numericedit"
        [edit]="editing"
        [validationRules]="numberRule"
      ></e-column>
      <e-column
        field="approved"
        headerText="Approved"
        textAlign="Center"
        displayAsCheckBox="true"
        editType="booleanedit"
        type="boolean"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
