<div class="gridWrapper">
  <ejs-treegrid
    #treegrid
    height="100%"
    width="100%"
    rowHeight="40"
    childMapping="subtasks"
    [dataSource]="data"
    [frozenColumns]="2"
    [treeColumnIndex]="1"
    [allowResizing]="true"
    [allowReordering]="true"
    [showColumnMenu]="true"
    [allowFiltering]="true"
    [filterSettings]="filterSettings"
    [allowSorting]="true"
    [allowMultiSorting]="allowMultiSorting"
    [editSettings]="editSettings"
    [toolbar]="toolbarOptions"
    [columnMenuItems]="columnMenuItems"
    (columnMenuClick)="columnMenuClick($event)"
    [contextMenuItems]="contextMenuItems"
    (contextMenuClick)="contextMenuClick($event)"
    [selectionSettings]="selectionSettings"
    (queryCellInfo)="customizeCell($event)"
    [enableInfiniteScrolling]="true"
    [pageSettings]="pageSettings"
    [allowRowDragAndDrop]="true"
    [rowDropSettings]="rowDrop"
    [enableAltRow]="true"
  >
    <e-columns>
      <e-column
        field="taskID"
        headerText="Task ID"
        isPrimaryKey="true"
        [validationRules]="taskIdRule"
        width="120"
        hideAtMedia="(min-width: 700px)"
      ></e-column>
      <e-column
        field="taskName"
        headerText="Task Name"
        clipMode="EllipsisWithTooltip"
        editType="stringedit"
        width="250"
        [validationRules]="stringRule"
      ></e-column>
      <e-column
        field="priority"
        headerText="Priority"
        editType="dropdownedit"
        [validationRules]="stringRule"
        ><ng-template #template let-data>
          <div
            *ngIf="data.priority === 'Normal'; else priorityTemplate"
            class="priority normal"
          >
            <span class="priorityText normal">{{ data.priority }}</span>
          </div>
          <ng-template #priorityTemplate>
            <div class="priority high">
              <span class="priorityText high">{{ data.priority }}</span>
            </div>
          </ng-template>
        </ng-template>
      </e-column>
      <e-column
        field="startDate"
        headerText="Start Date"
        [format]="dateFormatOptions"
        type="date"
        editType="datepickeredit"
        [validationRules]="dateRule"
      ></e-column>
      <e-column
        field="endDate"
        headerText="End Date"
        type="date"
        [format]="dateFormatOptions"
        editType="datepickeredit"
        [validationRules]="dateRule"
      ></e-column>
      <e-column
        field="duration"
        headerText="Duration"
        textAlign="Center"
        editType="numericedit"
        [edit]="editing"
        [validationRules]="numberRule"
      ></e-column>
      <e-column
        field="progress"
        headerText="Progress"
        textAlign="Center"
        editType="numericedit"
        [edit]="editing"
        [validationRules]="numberRule"
        ><ng-template #template let-data>
          <div id="myProgress" class="pbar">
            <div id="myBar" class="bar">
              <div id="label" class="barlabel"></div>
            </div>
          </div> </ng-template
      ></e-column>
      <e-column
        field="approved"
        headerText="Approved"
        textAlign="Center"
        displayAsCheckBox="true"
        editType="booleanedit"
        type="boolean"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
